{% extends 'layout.html' %}

{% block body %}

{% if request.user.is_authenticated %}
    Welcome {{request.user.username}}
{% else %}

{% endif %}
<hr>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to Pazar Team</h1>
      <p class="col-md-8 fs-4">A language learning app. No garbage or repetitive information. Just get the necessary knowledge ASAP.</p>
      <button class="btn btn-primary btn-lg" type="button">Lets Start</button>
    </div>
  </div>

{% endblock body %}